<body class="padre">
  <br />
  <div>
    <h1 class="centrarH1">SALA DE JUEGOS</h1>
  </div>

  <br />

  <div>
    <mat-card class="centrarCard">
      <button
        class="letraBoton"
        mat-raised-button
        color="accent"
        routerLink="/memorygame"
      >
        Memory Game
      </button>
    </mat-card>
  </div>
  <div>
    <mat-card class="centrarCard">
      <button
        class="letraBoton"
        mat-raised-button
        color="accent"
        routerLink="/buscaminas"
      >
        Buscaminas
      </button>
    </mat-card>
  </div>

  <div>
    <mat-card class="centrarCard">
      <button
        class="letraBoton"
        mat-raised-button
        color="accent"
        routerLink="/tateti"
      >
        TaTeTi
      </button>
    </mat-card>
  </div>
</body>
