<br />
<h1 class="letraTituloJuego">Memory Game</h1>

<button class="letraBoton" mat-raised-button color="accent" (click)="newGame()">
  New Game
</button>
<button
  class="letraBoton"
  mat-raised-button
  color="accent"
  (click)="tablero6x4()"
>
  Tablero 6x4
</button>

<div class="tabla" *ngFor="let fila of tablero">
  <div
    class="celdasStyle"
    *ngFor="let celda of fila"
    [ngClass]="[celda.estado ? colores.get(celda.name) : '']"
    (click)="clickEnCelda(celda)"
  ></div>
</div>
<h2 class="letraIntentos">Intentos:{{ numeroIntentos }}</h2>
<br />
